= render 'effective/questionable_results/results', questionable: @poll

= card('Raw Data') do
  - datatable = Admin::EffectiveQuestionableResultsDatatable.new(questionable: @poll)
  = render_datatable(datatable)
