= render 'effective/poll_results/results', poll: @poll

= card('Raw Data') do
  - if poll.hide_results? && !poll.ended?
    %p The raw data for this poll will be displayed once it has ended.
  - else
    - datatable = Admin::EffectivePollResultsDatatable.new(poll: @poll)
    = render_datatable(datatable)
